.iconApp{
  font-size: 1.6rem;
}

.prodContent{
  width: 840px;
  height: 113px;
  background-color:white;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 10px;
}

.prodContent img{
  width: 150px;
  height: 110px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.prodInfo{
  border: 0px solid black;
  min-width: 600px;
  background-color: white;
}

.prodName{
  text-transform: uppercase;
  font-weight: bold;
}

.prodDesc{
  background-color: white;
  width: 500px;
  height: 60px;
}

.prodPrice{
  background-color:magenta;
  width: 80px;
  border-radius: 10px;
  padding-left: 5px;
}

.prodBtn{
  display: grid;
  grid-template-columns: 40px 40px;
  grid-template-rows: 60px 40px;
}

@media (max-width: 860px) {
  .prodInfo{
    min-width: 300px;
  }
  .prodDesc{
    width: 300px;
  }
}